{% extends "::base.html.twig" %}
{% block title %} Tìm kiếm phân loại hồ sơ {% endblock %}
{% block content %}

{{ form_start(formSearch) }}
{{ form_errors(formSearch) }}  
<table>
    <tr>
        <td>{{form_widget(formSearch.idcongdan)}}</td>
        <td>{{form_widget(formSearch.Submit)}}</td>
    </tr>
</table>
{{form_end(formSearch)}}


{{ form_start(form) }}
{{ form_errors(form) }}  
{{form_label(form.tttl)}}
{{form_widget(form.tttl)}}
<table>
    <tr>
        <td>ID</td>
        <td>Công dân</td>
        <td>TTHC</td>
        <td>Đơn vị thụ lý</td>
        <td>Tình trạng thụ lý</td>
        <td>Action</td>
    </tr>
    {% for hs in hstthc %}
    <tr>
        <td>{{hs.idhosotthc}}</td>
        <td>{{hs.idcongdan.name}}</td>
        <td>{{hs.idtthc.nametthc}}</td>
        <td>{{hs.iddonvithuly.namedonvithuly}}</td>    
        <td>{{hs.idtinhtrangthuly.tinhtrangthuly}}</td>   
        
        <td>{{form_widget(form.hstthc[hs.idhosotthc])}}</td>
    </tr>    
    {% endfor%}        
</table>
{{form_end(form)}}
{% endblock %}
