<h2>Tạo mới thủ tục hành chính </h2>
{{ form_start(form) }}
{{ form_errors(form) }}
<table>
    <tr>
        <td>{{ form_label(form.name) }}</td>
        
        <td>{{ form_widget(form.name) }}</td>
        <td>{{ form_errors(form.name) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.thogiangiaiquyet) }}</td>
        
        <td>{{ form_widget(form.thogiangiaiquyet) }}</td>
        <td>{{ form_errors(form.thogiangiaiquyet) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.noidungthuchien) }}</td>
        
        <td>{{ form_widget(form.noidungthuchien) }}</td>
        <td>{{ form_errors(form.noidungthuchien) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.linhvuc) }}</td>
        
        <td>{{ form_widget(form.linhvuc) }}</td>
        <td>{{ form_errors(form.linhvuc) }}</td>
    </tr>

</table>    
{{form_end(form)}}